// layout rules go in here

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $bodyColor;
	height: 100vh;
	width: 100vw;
}

.bg-image-top {
	position: absolute;
	width: 90rem;
	height: fit-content;
	top: -30rem;
	left: -18rem;
	z-index: 1;

	// mobile rules
	@include for-phone {
		width: 28rem;
		top: -12rem;
		left: -15rem;
	}
}

.bg-image-bottom {
	position: absolute;
	width: 130rem;
	height: fit-content;
	bottom: -72rem;
	right: -50rem;
	z-index: 1;

	// mobile rules
	@include for-phone {
		width: 38rem;
		bottom: -15rem;
		right: -25rem;
	}
}

.card {
	position: relative;
	z-index: 200;
}

.attribution {
	position: absolute;
	bottom: 2rem;
	border: 0.5rem dotted $cardColor;
	padding: 0.7rem;

	// mobile rules
	@include for-phone {
		bottom: 1rem;
		text-align: center;
		padding: 0.3rem;
		border: none;
	}
}
